.btn {
  @apply inline-block text-center font-semibold py-2 px-4 rounded bg-gray-200 text-gray-800 cursor-pointer transition-colors duration-200 hover:bg-gray-400;
  &.m-icon {
    @apply font-normal py-1;
  }
  &.green {
    @apply bg-green-300 text-green-800 hover:bg-green-400;
  }
  &.blue {
    @apply bg-blue-300 text-blue-800 hover:bg-blue-400;
  }
  &.red {
    @apply bg-red-300 text-red-800 hover:bg-red-400;
  }
  &.disabled {
    @apply opacity-50 pointer-events-none;
  }
}
.btn + .btn {
  @apply ml-4;
}
