$button-width: 30px;
.item {
  @apply grid gap-2;
  grid-template-columns: 1fr $button-width;
}
.controls {
  @apply relative;
  margin-top: 24px;
  .button {
    width: $button-width;
    @apply text-center ml-0 mb-3 px-0;
  }
}
.handle {
  @apply cursor-pointer;
  &.__bottom {
    @apply absolute left-0;
    bottom: -45px;
    z-index: 1;
  }
}

.add {
  margin-right: $button-width + 5px;
}
//desktop
html[class*="desktop"] {
  $button-width: 40px;
  .item {
    @apply gap-4;
    grid-template-columns: 1fr $button-width;
  }
  .button {
    width: $button-width;
  }
  .add {
    margin-right: $button-width + 5px;
  }
}
