.cropper {
  @apply grid gap-4 grid-cols-1 mt-8;
}
.preview {
  @apply overflow-hidden mb-4 rounded-sm bg-gray-200;
  height: 140px;
}
// desktop
html[class*="desktop"] {
  .cropper {
    @apply gap-8;
    grid-template-columns: 550px 1fr;
  }
}
