.f-label {
  @apply tracking-wide text-gray-700 text-sm font-bold mb-2;
  &.text-white {
    @apply text-white;
  }
  &:empty {
    @apply hidden;
  }
  .remove {
    @apply text-red-400 font-normal transition duration-300 cursor-pointer hover:text-red-600;
  }
}
.f-input {
  @apply block w-full bg-gray-100 text-gray-700 border rounded py-2 px-4 leading-tight transition duration-200 appearance-none hover:border-gray-300;
  &:focus:not(:read-only) {
    @apply outline-none ring;
  }
  &.__disabled {
    @apply border-gray-100 text-gray-600;
  }
}
input.f-input:read-only,
input.f-input:disabled,
textarea.f-input:read-only,
textarea.f-input:disabled {
  @apply outline-none bg-gray-200 text-gray-600 hover:border-gray-300;
}
select.f-input {
  @apply cursor-pointer;
}
