.photo {
  @apply grid gap-2 relative;
  grid-template-columns: 120px 1fr;
}
.crop {
  @apply absolute;
  left: 82px;
}
//desktop
html[class*="desktop"] {
  .crop {
    left: 162px;
  }
  .photo {
    @apply gap-4;
    grid-template-columns: 200px 1fr;
  }
}
