.dragging {
  @apply rounded-sm ring;
  // Иначе глючит processDragLeave - хром считает что внутри инпута есть какой-то внешний див
  // возможно дело в shadowDOM
  input {
    @apply pointer-events-none;
  }
}
.searchResults {
  @apply overflow-auto mt-2 border;
  height: 120px;
}
.item {
  @apply py-2 px-3 cursor-pointer text-blue-500 hover:bg-blue-100;
}
.selectedMatter {
  @apply py-2 px-3 bg-blue-100 rounded-sm mb-2 flex justify-between;
}
.remove {
  @apply text-right w-8 cursor-pointer font-bold text-gray-500 ml-2;
}
