.meta {
  @apply text-gray-500 text-sm flex flex-wrap;
  span:not(:last-child)::after {
    @apply px-1;
    content: "•";
  }
  .counter {
    @apply flex items-center;
    [class*="m-icon"] {
      @apply text-base text-gray-500 mr-1;
    }
  }
  .users {
    @apply mb-1 text-red-600 text-sm flex items-center;
    [class*="m-icon"] {
      @apply mr-2 text-base;
    }
  }
  .bottom {
    @apply text-sm flex justify-between;
  }
  [class*="m-icon"] {
    @apply text-base text-gray-600;
  }
}
