.top {
  @apply flex items-center justify-between mb-4 h-10;
  > * {
    @apply mb-0;
  }
}
.matters {
  @apply overflow-auto border;
  height: calc(100vh - 250px);
}
// desktop
html[class*="desktop"] {
  .matters {
    height: calc(100vh - 180px);
    &.__windows {
      height: calc(100vh - 200px);
    }
  }
}
