.col {
  @apply border sticky rounded-sm;
  top: 10px;
  height: calc(100vh - 150px);
}
.matters {
  @apply overflow-auto;
  height: calc(100% - 50px);
  &.open {
    height: calc(100% - 190px);
  }
}
.filters {
  @apply flex flex-wrap border-b;
  .item {
    @apply m-2 flex-auto;
    width: calc(50% - 15px);
  }
  .btn {
    @apply text-center;
  }
}
