.modal {
  @apply fixed top-0 left-0 h-full w-full flex z-10 justify-center overflow-auto items-start;
  background: #000000bb;
}
.content {
  @apply relative bg-white py-6 px-2 w-full;
}

// desktop
html[class*="desktop"] {
  .content {
    @apply mt-12 p-6;
    width: 900px;
  }
}
