.submenu {
  @apply flex flex-wrap items-center bg-gray-100 shadow py-1;
  .s-item {
    margin: 0.5rem !important;
  }
  a.s-item {
    @apply py-2 px-3 mx-1 whitespace-nowrap hover:text-blue-400;
    &.router-link-active {
      @apply bg-gray-200 text-gray-900 rounded;
    }
  }
  &.__dense .s-item:not(.btn) {
    @apply px-0;
  }
  &.__scroll {
    @apply flex-nowrap overflow-auto;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-300;
    }
    &::-webkit-scrollbar-track {
      @apply bg-gray-200;
    }
  }
}
