.tags {
  @apply mb-6;
  .tags-container {
    @apply border py-3;
  }
  .tags-search {
    @apply w-full mb-2 block outline-none py-1 px-3;
  }
  .tags-options {
    @apply overflow-auto mb-2;
    min-height: 50px;
    max-height: 150px;
    .tags-option-item {
      @apply py-2 px-3 cursor-pointer text-blue-500 hover:bg-blue-100 block w-full text-left;
    }
  }
  .tags-selected {
    @apply flex flex-wrap px-3;
    .tags-selected-item {
      @apply p-2 pl-3 bg-blue-100 rounded mr-2 mb-2 flex items-center;
      .m-icon {
        @apply ml-1 text-gray-600 cursor-pointer;
      }
    }
  }
}
