.video {
  @apply mb-4 rounded-sm object-contain w-full;
  height: 100px;
}
.cols {
  @apply grid gap-4 mt-4 grid-cols-1;
}
// desktop
html[class*="desktop"] {
  .cols {
    grid-template-columns: 1fr 300px;
  }
}
