.dropdown {
  @apply relative focus:outline-transparent focus:ring focus:rounded;
}
.trigger {
  @apply bg-gray-100 text-gray-700 border rounded py-2 px-4 cursor-pointer leading-tight transition duration-200 overflow-hidden whitespace-nowrap hover:border-gray-400 w-full text-left block;
  text-overflow: ellipsis;
}
.selectedLabel {
  @apply inline-block bg-gray-500 text-white rounded ml-2 px-1;
  font-size: 13px;
}
.wrapper {
  @apply left-0 top-0 w-full absolute bg-white text-gray-700 border rounded shadow;
  z-index: 4;
  min-width: 250px;
  max-width: 350px;
}
.wrapperTitle {
  @apply relative py-3 pl-5 pr-2 flex justify-between items-center;
}
.reset {
  @apply text-white bg-blue-400 text-white border rounded px-2 py-1 cursor-pointer text-xs;
}
.search {
  @apply block w-full py-2 pl-12 pr-6 text-gray-700 bg-gray-100 outline-none;
  background: url(img/search.svg) no-repeat 15px 50%;
}
.options {
  @apply overflow-auto;
  max-height: 250px;
}
.option {
  @apply relative py-2 pl-12 pr-6 relative cursor-pointer break-words hover:bg-gray-200 block text-black w-full text-left;
  &.__active {
    @apply bg-gray-200;
    &::after {
      @apply absolute left-0 top-0 h-full;
      content: "";
      background: center no-repeat url(img/check.svg);
      width: 40px;
    }
  }
}
