.top {
  @apply mb-2;
}
.topLinks {
  @apply flex flex-wrap mb-2 text-sm items-center;
  a:not([class*="btn"]),
  button {
    @apply mr-3 text-gray-600 hover:underline-light-50;
  }
}

//desktop
html[class*="desktop"] {
  .top {
    @apply flex justify-between;
  }
  .topLinks {
    @apply text-base;
  }
}
