.submenu {
  [class*="s-item"] {
    flex-basis: calc(50% - 14px);
  }
  [class*="btn"] {
    @apply text-center;
  }
}
.columns {
  @apply grid gap-8 overflow-auto;
  grid-template-columns: repeat(5, 320px);
  padding: 20px 20px 0 20px;
}

// desktop
html[class*="desktop"] {
  .submenu {
    @apply flex-nowrap;
    [class*="s-item"] {
      @apply flex-auto;
    }
  }
  .columns {
    &.__1 {
      @apply grid-cols-1;
    }
    &.__2 {
      @apply grid-cols-2;
    }
    &.__3 {
      @apply grid-cols-3;
    }
    &.__4 {
      @apply grid-cols-4;
    }
  }
  @media (min-width: 1650px) {
    .columns.__5 {
      @apply grid-cols-5;
    }
  }
}
