.cols {
  @apply grid gap-8 grid-cols-1;
}
.col {
  @apply px-1;
  &.__scroll {
    @apply overflow-auto;
    max-height: 300px;
  }
}
.item {
  @apply flex items-center cursor-pointer mb-4 text-black focus:outline-transparent;
  [class*="m-icon"] {
    @apply mr-2;
  }
}
.emails {
  @apply flex items-center flex-wrap my-4;
}
.email {
  @apply bg-blue-400 flex items-center pr-2 pl-3 py-1 mr-2 mb-2 rounded text-white;
  [class*="m-icon"] {
    @apply ml-2 text-blue-600 cursor-pointer transition duration-300 hover:text-blue-800;
  }
}
// desktop
html[class*="desktop"] {
  .cols {
    @apply grid-cols-4;
  }
  .col {
    @apply overflow-auto;
    max-height: 80vh;
  }
}
