@import "animations.scss", "helpers.scss", "components/icons.scss",
  "components/form.scss", "components/submenu.scss", "components/button.scss",
  "components/tags.scss";
html {
  @apply text-gray-900;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.45;
  &.locked {
    @apply overflow-hidden;
  }
}
.container {
  @apply p-4 px-2 mx-auto;
}
a,
button {
  @apply text-blue-500 no-underline cursor-pointer;
}
h1,
h2 {
  @apply text-3xl font-medium m-0 mb-6;
}
h2 {
  @apply text-2xl;
}
input[type="file"] {
  max-width: 180px;
}

// desktop
html.desktop {
  min-width: 800px;
  .container {
    @apply px-4;
  }
  input[type="file"] {
    max-width: none;
  }
}
