.control-bar {
  @apply flex flex-wrap pb-4 border-b;
}
.f-input {
  @apply w-auto;
}
.list-item {
  @apply py-4 border-b flex items-center justify-between;
}
details {
  @apply mb-6;
  summary {
    @apply outline-none mb-6;
    span {
      @apply inline-block cursor-pointer border-b border-blue-500 border-dashed text-blue-500;
    }
  }
}
.matter-cols {
  @apply grid gap-8 grid-cols-1;
}
.bottom-buttons {
  @apply fixed w-full bottom-0 left-0 bg-white flex flex-wrap justify-center p-3 pb-0;
  z-index: 4;
  box-shadow: 0 -5px 10px #00000010;
  .btn.m-icon {
    padding-top: 5px;
  }
  .btn {
    @apply mb-3;
  }
}
.publisher-matters-grid {
  @apply grid gap-6 grid-cols-1 mb-6;
}
.table-container {
  @apply w-full overflow-auto;
  td,
  th {
    @apply border p-4;
  }
}
.list-table {
  @apply border-collapse w-full my-6;
}

// desktop
html.desktop {
  .control-bar {
    @apply justify-between;
  }
  .matter-cols {
    grid-template-columns: 1fr 365px;
  }
  .publisher-container {
    @apply grid gap-8 border;
    grid-template-columns: 340px 1fr;
  }
  .publisher-matters-grid {
    @apply grid-cols-3;
  }
}
