.controls {
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
  > * {
    width: auto !important;
    margin-right: 1rem;
  }
}
// desktop
html[class*="desktop"] {
  .controls {
    > [class*="btn"] {
      @apply mr-0 ml-auto;
    }
  }
}
