.matters {
  @apply grid gap-6 grid-cols-1 mb-6;
}

// desktop
html[class*="desktop"] {
  .page {
    @apply grid gap-8 border;
    grid-template-columns: 340px 1fr;
  }
  .matters {
    @apply grid-cols-3;
  }
}
