.checkbox {
  @apply flex items-center cursor-pointer ml-auto mr-4 pl-2 text-black;
}

// desktop
html[class*="desktop"] {
  .cols {
    @apply grid gap-8;
    grid-template-columns: 340px 1fr;
  }
}
