.reset {
  @apply absolute cursor-pointer bg-center bg-no-repeat bg-gray-100 rounded-sm;
  right: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: 30px;
  background-image: url(img/cross.svg);
}
.query {
  @apply block w-full bg-gray-100 text-gray-500 border rounded py-2 pl-4 focus:ring focus:outline-none placeholder-gray-700;
}
