.list {
  @apply fixed left-0 top-0 w-full h-full z-20;
  background: #00000080;
}
.content {
  @apply h-full p-4 pt-1 bg-white overflow-auto;
  width: 300px;
}
.item {
  @apply py-3 block text-gray-700 text-lg cursor-pointer hover:text-gray-900;
  padding-left: 29px;
  background: no-repeat left 50%;
  $icons: common, image, image360, gallery, html, video, quote, file, teaser;
  @each $icon in $icons {
    &.__#{$icon} {
      background-image: url("img/#{$icon}.svg");
    }
  }
}

.icon {
  @apply rounded-full bg-blue-500 bg-center bg-no-repeat cursor-pointer transition duration-300 hover:bg-blue-600;
  background-image: url(img/plus.svg);
  width: 36px;
  height: 36px;
  &::before,
  &::after {
    @apply absolute left-0 bg-gray-300;
    content: "";
    height: 1px;
    width: calc(50% - 30px);
    top: 18px;
  }
  &::after {
    @apply left-auto right-0;
  }
}
