.login {
  @apply h-screen flex justify-center items-center;
  background: linear-gradient(to bottom, rgba(black, 0.1), rgba(black, 0.5)),
    url(img/bg.jpg) top center / cover;
}
.content {
  @apply p-8 shadow-lg rounded-lg text-white;
  width: 330px;
  backdrop-filter: blur(15px);
}
